[Unit]
Description=daed Service
Documentation=https://github.com/daeuniverse/daed
After=network-online.target docker.service systemd-sysctl.service
Wants=network-online.target

[Service]
Type=simple
User=root
LimitNPROC=512
LimitNOFILE=1048576
ExecStart=/usr/bin/daed run -c /etc/dae/
Restart=on-abnormal

[Install]
WantedBy=multi-user.target