@import '@fontsource/fira-sans';
@import '@fontsource/source-code-pro';
@import 'graphiql/graphiql.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  display: contents;
}

::selection {
  color: whitesmoke;
  background-color: goldenrod;
}
