@import "@fontsource/raleway";
@import "@fontsource/open-sans";
@import "simplebar-react/dist/simplebar.min.css";

body {
  margin: 0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  height: 100dvh;
}
